<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>org.restcomm.applications.camelgw.examples.http.TestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>TestNoActivityTimeoutServlet</servlet-name>
		<servlet-class>org.restcomm.applications.camelgw.examples.http.TestNoActivityTimeoutServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>TestForwardServlet</servlet-name>
		<servlet-class>org.restcomm.applications.camelgw.examples.http.TestForwardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>TestNoActivityTimeoutServlet</servlet-name>
		<url-pattern>/testnoactivity</url-pattern>
	</servlet-mapping>	

	<servlet-mapping>
		<servlet-name>TestForwardServlet</servlet-name>
		<url-pattern>/testforward</url-pattern>
	</servlet-mapping>
</web-app>
